// 添加背景图片 
body 
{ 
    background-image: url(/images/apple-touch-icon-next.png); 
    background-repeat: no-repeat; //不重复 
    background-attachment: fixed; //不随页面滚动 
    background-position: 50% 50%; //center居中 
    background-size: 100% 100%; //cover为填充 
}

